[Desktop Entry]
Name=glassOSLight - original macOS theme by vinceliuice@hotmail.com
X-KDE-PluginInfo-Author=4v3ngR
X-KDE-PluginInfo-Email=avenger@rescueteam.com
X-KDE-PluginInfo-Name=glassOSLight
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
